body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  text-align: center;
  height: 100vh;
}

#start-screen {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: black;
  background-image: url("images/Dune_Raider_Border.png");
}

#start-text {
  position: absolute;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(5, 195, 36);
}

#start-button {
  position: absolute;
  top: 69%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(1, 1, 1);
}

#start-button > img {
  width: 100px;
  height: 70px;
}

#screen-gif img {
  scale: 0.73;
  width: 1200px;
  height: 820%;
  margin-top: -48px;
  margin-left: -20px;
}

#game-screen {
  display: none;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: black;
  background-image: url("images/Dune_Raider_Border.png");
}

#game-canvas {
  scale: 0.73;
  margin-top: -130px;
  margin-left: -60px;
  width: 1200px;
  height: 820px;
  background-repeat: repeat-x;
  animation: slide 1s linear infinite;
}
#game-boarder {
  width: 1400px;
  height: 1020px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#end-screen {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("images/end_screen.png");
  border-color: black;
  align-items: center;
}

#end-screen > h1 {
  color: rgb(249, 5, 5);
  font-size: 800%;
}

#restart-button {
  position: absolute;
  top: 69%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(198, 16, 3);
  width: 250px; /* Example width */
  height: 150px; /* Example height */
  font-size: 26px;
  padding: 10px; /* Adjust padding to increase the size and maintain the aspect ratio */
  border-style: double; /* Optional: remove border */
  border-radius: 5px;
}

@keyframes slide {
  0% {
    background-position: 1000px 0;
  }
  100% {
    background-position: -1000px 0;
  }
}
