body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  text-align: center;
  height: 100vh;

  object-fit: cover;
}
#game-screen {
  display: none;
  object-fit: cover;
  background-image: url("images/Dune_Raider_Border.png");
}
#start-screen {
  display: block;
}
@keyframes slide {
  0% {
    background-position: 1000px 0;
  }
  100% {
    background-position: -1000px 0;
  }
}
#game-canvas {
  width: 1200px;
  height: 800px;
  background-image: url("images/gameBG.png");
  background-repeat: repeat-x;
  animation: slide 1s linear infinite;
}
